.navbar-head {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}
.navbar-head .navbar-brand {
  color: #ecf0f1;
}
.navbar-head .navbar-brand:hover,
.navbar-head .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-head .navbar-text {
  color: #ecf0f1;
}
.navbar-head .navbar-nav > li > a {
  color: #ecf0f1;
  text-shadow: 0 -1px 0 #286090;
  background-color: transparent;
}
.navbar-head .navbar-nav > li > a:hover,
.navbar-head .navbar-nav > li > a:focus {
  color: #ecf0f1;
}
.navbar-head .navbar-nav > .active > a,
.navbar-head .navbar-nav > .active > a:hover,
.navbar-head .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #3673ac;
}
.navbar-head .navbar-nav > .open > a,
.navbar-head .navbar-nav > .open > a:hover,
.navbar-head .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #3673ac;
}
.navbar-head .navbar-toggle {
  border-color: #3673ac;
}
.navbar-head .navbar-toggle:hover,
.navbar-head .navbar-toggle:focus {
  background-color: #3673ac;
}
.navbar-head .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-head .navbar-collapse,
.navbar-head .navbar-form {
  border-color: #ecf0f1;
}
.navbar-head .navbar-link {
  color: #ecf0f1;
}
.navbar-head .navbar-link:hover {
  color: #ecf0f1;
}

@media (max-width: 767px) {
  .navbar-head .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-head .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-head .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-head .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-head .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-head .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #3673ac;
  }
  .navbar-head .navbar-nav .dropdown-header {
    color: #ecf0f1;
    font-size: 14px;
  }

  .topnavbar {
    margin-bottom:0px;
  }
  /* fix for auto zoom on ios */
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
  /* fix for auto zoom in summernote */
  .note-editor .note-editable {
    font-size: 16px;
  }
}

/* normal img-responsive is display: block, which doesn't allow images to be centered when in a
   text-align: center span, which is what summernote does to align things. so we use inline-block
   instead. */
.myimg-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* snug up breadcrumb bottom */
.breadcrumb {
  margin-bottom:10px;
}

/* fix for Microsoft Outlook */
p.MsoNormal {margin: 0px;}
p.MsoListParagraph {margin-bottom: 0px;}
.the-table {
    table-layout: fixed;
    word-wrap: break-word;
}
blockquote {
    font-size:  14px;
    border-left: 5px solid #eee;
}
hr {
    border-top-color: #a9a9a9;
}
.navbar {
  border-radius: 0px;
} 
.navbar-inverse .navbar-brand {
    color: #eeeeee;
}
.navbar-inverse .navbar-nav>li>a {
    color: #eeeeee;
}
.hidden-label {
    font-size: 0;
    height: 1px;
    overflow: hidden;
    display: block;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 10px;
    bottom: 0px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.4;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/* subject font size */
.subject {font-size:17px}

@media (max-width: 767px) {
  .navbar-header {
    margin:5px;
  }
  .nav-pills>li {
     float: none;
  }
  /*
  .container-fluid {
      padding-right: 10px;
      padding-left: 10px;
  }
  */
  #content { padding-bottom: 70px; }
  .navbar-fixed-bottom {
    margin-bottom:0px;
  }
  .table-responsive {
    border:0px;      
  }
  /* subject font size bigger than desktop*/
  .subject {font-size:18px}

  /* to prevent scroll bars in the navbar areas */
  #maincontentDORK {
      position: fixed;
      top: 70px;
      bottom: 70px;
      left: 0;
      right: 0;
      overflow:auto;
      overflow-x:hidden;
  }

  /* force a passage without spaces to be broken up to fit a fixed width container */
  .forcebreak{
      -ms-word-break: break-all;
      /* word-break is commented out because it breaks firefox and apparently adds nothing */
      /* word-break: break-all; w*/

   /* Non standard for webkit */
       word-wrap: break-word;

      -webkit-hyphens: auto;
         -moz-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
  }


  /* prevent breadcrumbs from causing horizontal scrolling */
  .breadcrumb {
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .scroll-top-wrapper {
      right: 0px;
      bottom: 72px;
  }

}
a.showvisitedXX:link {    /* unvisited link */
    color: #337ab7;
}
a.showvisited:visited {    /* visited link */
    color: #787878;
}

.mynavbutton {
    font-size: 65%;
    width: 60px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-color: transparent;
    background-image: none;
    border-width: 0;
    border-style: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.noborderlist {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.noborderitem:first-child {
  border-top:0px;
}
.noborderitem:last-child {
  border-bottom:0px;
}
.noborderitem {
  border-right-width:0px;
  border-left-width:0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
table.table-fixed {
  table-layout: fixed;
  width: 100%;
}

/* spacing used for buttons that may wrap to the next line */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.list-group-submenu {
  margin-left:20px;
}

/* hashtag color definitions */
.hashtag-btn {
  color: #fff !important;          
}
.hashtag-label-white {
  background-color: #fff;
  border-color:#ccc;
}
.hashtag-label-green-lantern {
  background-color: #61b16c;
}
.hashtag-label-cucumber {
  background-color: #91d09a;
}
.hashtag-label-cerulean-blue {
  background-color: #4191d6;
}
.hashtag-label-bluejean {
  background-color: #8ec2ee;
}
.hashtag-label-capri-blue {
  background-color: #88ddf7;
}
.hashtag-label-aquamute {
  background-color: #60d2b8;
}
.hashtag-label-emerald-green {
  background-color: #11adb1;
}
.hashtag-label-apricot {
  background-color: #fe904b;
}
.hashtag-label-orange {
  background-color: #faa849;
}
.hashtag-label-yellow {
  background-color: #fecd0f;
}
.hashtag-label-cherry-blossom {
  background-color: #f96ab0;
}
.hashtag-label-peony {
  background-color: #fb9bc4;
}
.hashtag-label-tomato {
  background-color: #f85347;
}
.hashtag-label-melon {
  background-color: #fa8287;
}
.hashtag-label-orchid {
  background-color: #df6cca;
}
.hashtag-label-pink {
  background-color: #f39de4;
}
.hashtag-label-lilac {
  background-color: #9f8cd5;
}
.hashtag-label-purple {
  background-color: #837fd5;
}
.hashtag-label-dark-grey {
  background-color: #4c4c4c;
}
.hashtag-label-light-grey {
  background-color: #8c8c8c;
}

.hashtag-label-military {
  background-color: #938953;
}
.hashtag-label-light-brown {
  background-color: #c4bd97;
}
.hashtag-label-moss-green {
  background-color: #93ad59;
}
.hashtag-label-grey-blue {
  background-color: #83adb5;
}
.hashtag-label-green-sage {
  background-color: #9fc4ac;
}
.hashtag-label-sage {
  background-color: #89bfbd;
}
.hashtag-label-blush {
  background-color: #ee836f;
}
.hashtag-label-mustard {
  background-color: #cb9228;
}
.hashtag-label-mulbery {
  background-color: #d55d75;
}
.hashtag-label-dusty-mauve {
  background-color: #655251;
}
.hashtag-label-dark-orange {
  background-color: #e76239;
}
.hashtag-label-burnt-yellow {
  background-color: #dab71f;
}
.hashtag-label-antique-pink {
  background-color: #e5b9b7;
}
.hashtag-label-lips {
  background-color: #c97586;
}
.hashtag-label-terracotta {
  background-color: #a7605f;
}
.hashtag-label-cloudy-blue {
  background-color: #6381b4;
}
.hashtag-label-purple-grey {
  background-color: #8593ab;
}
.hashtag-label-light-lilac {
  background-color: #ccc1d9;
}
.hashtag-label-grape {
  background-color: #5e3c58;
}
.hashtag-label-purple-blue {
  background-color: #4853a1;
}
.hashtag-label-sky {
  background-color: #9cc7df;
}
.hashtag-label-beige {
  background-color: #dcc39c;
}
.fa-6x {
    font-size: 6em;
}
.template {
    display:none;
}
.alert-gray {
  background-color:#e6e6e6;
  color:#333;
}
.stickywiki {
   max-height:100px;
   overflow:hidden;
   line-height:20px;
   word-wrap:break-word;
}
.stickywiki > p {
  margin-bottom:20px;
}
.mce-ico.mce-i-fa {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-family: 'Font Awesome\ 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 515px) {
    .mce-window {
        max-width: 320px !important;
        left: calc(50% - 160px) !important;
    }
    .mce-window-body {
        max-width: 100% !important;
        min-height: 230px !important;
    }
    .mce-container.mce-panel.mce-abs-layout-item,
    .mce-container.mce-panel.mce-abs-layout-item .mce-container-body.mce-abs-layout {
        max-width: 100% !important;
        min-height: 190px !important;
    }
    .mce-flow-layout {
        text-align: center !important;
    }
    .mce-flow-layout-item.mce-btn-group {
        border-left: none !important;
    }
    
    .mce-floatpanel,
    .mce-floatpanel > .mce-container-body,
    .mce-foot,
    .mce-foot > .mce-abs-layout {
        max-width: 320px !important;
        text-align: center;
    }
    
    .mce-formitem {
        width: 300px !important;
        left: 10px !important;
        display: block !important;
    }
    .mce-formitem:nth-child(2) {
        top: 10px !important;
    }
    .mce-formitem:nth-child(3) {
        top: 50px !important;
    }
    .mce-formitem:nth-child(4) {
        top: 90px !important;
    }
    .mce-formitem:nth-child(5) {
        top: 130px !important;
    }
    .mce-formitem:nth-child(6) {
        top: 170px !important;
    }
    .mce-container.mce-form.mce-abs-layout-item .mce-container-body.mce-abs-layout .mce-container.mce-form.mce-abs-layout-item {
        top: 40px !important;
        left: 0 !important;
        height: 160px !important;
    }
    .mce-formitem label {
        width: 106px !important;
        font-size: 13px !important;
        left: 0px !important;
    }
    .mce-multiline {
        max-width: 290px !important;
    }
    .mce-checkbox {
        top: 40px !important;
        left: 0 !important;
    }
    .mce-label {
        font-size: 13px !important;
    }
    .mce-foot .mce-btn-has-text {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        display: inline-block !important;
        margin: 10px 5px !important;
    }
    .mce-abs-layout-item input {
        max-width: 150px !important;
    }
    .mce-abs-layout-item.mce-has-open input {
        max-width: 118px !important;
    }
}