body {
  /*font-family: "Lato", sans-serif;*/
font-family: 'Poppins', sans-serif;
  color:#3f3f3f;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
}
p2 {
  color:red;
}
h2{
  color:#3f3f3f;
  line-height: 1;
}

h4{
    padding:0;
    margin-top:0;
    padding-bottom:20px;
}

h5{
  padding:0;
  margin-bottom: 0;
}

h6{
  font-size: 25px;
  padding:0;
  padding-top:30px;
  margin:0;
}

h7{
  font-size: 20px;
  padding:0;
  margin:0;
}

li{
  margin-left:25px;
  padding-left:10px;
  padding-bottom: 5px;
}

.ul-marginless{
  padding-left:0;
}

/* Navbar */
.sidenav {
  width: 20rem;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #0f59d1, #630d4e);
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Comfortaa';
  box-shadow:  0px 0px 10px black;
}

.sidenav a {

  text-decoration: none;
  color: #fff;
  display: block;
  opacity: 0.8;
  transition: opacity .3s ease-out;
}

.sidenav a:hover {
  opacity: 1;
}

.logo{
  height:auto;
}

#language{
  color:#32399b;
  /* color: rgba(255, 255, 255, 0.85); */
  opacity: 1;
  background: rgba(255, 255, 255, 0.85);
  /* background: rgba(255, 255, 255, 0.0); */
  top:10px;
  float:right;
  text-decoration: none;
  font-family: 'Comfortaa';
  border-width: 0px;
  width:auto;
  border-radius: 10px;
  border-color: #fff;
  margin-right:18px;

}
#language option{
  background-color: rgba(255, 255, 255, 1);
  color:#32399b;
  border-width: 0px;
  border-color: #fff;
  margin-left:340px;
  font-family: 'Comfortaa';
}


.dropbtn {
  background: rgba(255, 255, 255, 0.85);
  color:#32399b;
  /* border-radius: 10px; */
  border-radius: 0px 0px 8px 8px;
  text-decoration: none;
  /* font-family: 'Comfortaa'; */
  font-family: 'Poppins', sans-serif;
  width:auto;
  margin-right:18px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color .1s ease-out, border-radius .1s ease-out;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-right:18px;
  right: 0;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
}


/* Responsive columns for the navbar */
@media screen and (max-width: 600px) {
  .sidenav {
    width: 5rem;
    height: 100%;
    text-align: center;
  }
  .main, .banner, footer{
    margin-left: 5rem; /* Must be same as the width of the sidenav */
  }
  .logo{
    width:4rem;
    padding: 6px 8px 6px 7px;
  }
  .sidenav a{
    font-size: 7px;
    padding: 6px 8px 12px 5px;
  }
  .dropbtn{
    font-size: 10px;
    padding: 9px 11px 9px 11px;
    text-align: left;
    -ms-transform: translateY(-212%);
    transform: translateY(-212%);
    width:90px
  }

  .dropdown-content{
    width:90px;
    font-size: 8px;
    text-align: left;
    -ms-transform: translateY(-96%);
    transform: translateY(-96%);
  }
  .linkGroup{
    padding-top:18px;
  }
  .linkGroupNote {
    padding: 13px;
  }
  .linkGroup > .notes {
    padding: 1px 5px;
  }
  .linkGroup > .notes p {
    font-size: 12px;
    margin-top: 12px;
  }
  .navSymbol{
    height:30px;
    display:block;
    padding-bottom: 6px;
    margin: auto;
  }
  p, li{
    font-size: 10px;
    color:#3f3f3f;
    font-family: Comfortaa;
  }
  h7{
    font-size: 12px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 15px;
  }
  h2{
    font-weight: 500px;
    font-size: 32px;
    color:#3f3f3f;
    margin-bottom: 20px;
  }
  .main{
    padding: 10px 20px 10px;
  }
  .banner{
    height:100px;
  }
  .banner h1{
    font-size: 32px;
    -ms-transform: translateY(60%);
    transform: translateY(60%);
  }
  .custom-shape-divider-bottom-1645502261 {
    display: none;
  }
  footer{
    padding-top:10px;
  }
  footer a{
      font-size: 10px;
  }
  footer img{
    height:10px;
  }
  .notes h1{
    font-size:20px;
  }
}

@media screen and (min-width: 601px) {
  .sidenav {
    width: 10rem;
    height: 100%;
    text-align: center;
  }
  .main, .banner, footer {
    margin-left: 10rem; /* Must be same as the width of the sidenav */
  }
  .logo{
    width:7.5rem;
    padding: 6px 8px 6px 9px;
  }
  .sidenav a {
    font-size: 15px;
    padding: 6px 8px 12px 9px;
  }
  #language {
    font-size: 15px;
    padding: 9px 8px 9px 11px;
    text-align: left;
    -ms-transform: translateY(-210%);
    transform: translateY(-210%);
  }
  .dropbtn{
    font-size: 17px;
    padding: 9px 8px 9px 11px;
    text-align: left;
    -ms-transform: translateY(-254%);
    transform: translateY(-254%);
    width:140px
  }

  .dropdown-content{
    width:140px;
    font-size: 13px;
    text-align: left;
    -ms-transform: translateY(-130%);
    transform: translateY(-130%);
  }
  .linkGroup{
    padding-top:18px;
  }
  .linkGroupNote {
    padding: 13px;
  }
  .linkGroup > .notes {
    padding: 1px 5px;
  }
  .linkGroup > .notes p {
    font-size: 12px;
    margin-top: 12px;
  }
  .navSymbol{
    height:30px;
    display:block;
    padding-bottom: 6px;
    margin: auto;
  }
  p, li{
    font-size: 15px;
    color:#3f3f3f;
    font-family: Comfortaa;
  }
  h5{
    font-size: 30px;
    margin-top:50px;
  }
  h6{
    font-size: 20px;
  }
  h7{
    font-size: 17px;
  }
  h2{
    font-weight: 500px;
    font-size: 40px;
  }
  .main{
    padding: 10px 70px 10px;
  }
  .banner{
    height:400px;
  }
  .banner h1{
    font-size: 60px;
    -ms-transform: translateY(110%);
    transform: translateY(110%);
  }
  footer{
    padding-top:27px;
  }
  footer a{
      font-size: 15px;
  }
  footer img{
    height:14px;
  }
  .notes h1{
    font-size:25px;
  }
}
@media screen and (min-width: 1000px) {
  .sidenav {
    width: 20rem;
    height: 100%;
  }
  .main, .banner, footer, .custom-shape-divider-bottom-1645502261 {
    margin-left: 20rem; /* Must be same as the width of the sidenav */
  }
  .logo{
    width:17.5rem;
    padding: 6px 8px 6px 20px;
  }
  .sidenav a{
    font-size: 23px;
    padding: 6px 8px 12px 20px;
    text-align: left;
  }
  #language {
    font-size: 23px;
    padding: 12px 8px 12px 20px;
    text-align: left;
    -ms-transform: translateY(-250%);
    transform: translateY(-250%);
  }
  .dropbtn{
    font-size: 23px;
    padding: 12px 0 12px 18px;
    text-align: left;
    -ms-transform: translateY(-265%);
    transform: translateY(-265%);
    width:180px;
  }
  .dropdown-content{
    width:180px;
    font-size: 18px;
    text-align: left;
    -ms-transform: translateY(-159%);
    transform: translateY(-159%);
  }
  .linkGroup{
    padding-top:20px;
  }
  .linkGroupNote {
    padding: 15px;
  }
  .linkGroup > .notes {
    padding: 1px 5px;
  }
  .linkGroup > .notes p {
    font-size: 14px;
    margin-top: 12px;
  }
  .navSymbol{
    height:23px;
    display:initial;
    padding-bottom: 0;

  }
  p, li{
    font-size: 20px;
    color:#3f3f3f;
    font-family: Comfortaa;
  }
  h7{
    font-size: 22px;
  }
  h5{
    font-size: 35px;
    margin-top:100px;
  }
  h6{
    font-size: 25px;
  }
  h2{
    font-weight: 500px;
    font-size: 60px;
    color:#3f3f3f;
    margin-bottom: 0;
  }
  .main{
    padding: 10px 100px 10px;
  }
  .banner{
    height:400px;
  }
  .banner h1{
    font-size: 87px;
    -ms-transform: translateY(60%);
    transform: translateY(60%);
  }
  footer{
    padding-top:27px;
  }
  footer a{
      font-size: 15px;
  }
  footer img{
    height:14px;
  }
  .notes h1{
    font-size:30px;
  }
}


/* Banner */
.banner{
  background-image: url(../images/banner2.png);
  background-position: bottom;
  background-size: cover;
}

.banner h1{
  color:white;
  text-align: center;
  padding:0;
  margin:0;
  text-shadow:  0px 0px 0px black;
}

.custom-shape-divider-bottom-1645502261 {
    position: absolute;
    top:227px;
    left: -20rem;
    overflow: hidden;
    line-height: 0;
    width: 100%;
    transform: rotate(180deg);
    margin-left: 20rem; /* Must be same as the width of the sidenav */
}

.custom-shape-divider-bottom-1645502261 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
}

.custom-shape-divider-bottom-1645502261 .shape-fill {
    fill: #FFFFFF;
}

/* Content */

.main {
  height: 100%;
}


.boxArea{
  text-align: center;
  padding-bottom: 60px;
}

/* Float four columns side by side */
.column {
  float: left;
}
.column2 {
  float: left;
}

.card img{
  width:100%;
}

/* Remove extra left and right margins, due to padding */
.row {
  padding-top: 40px;
  margin: 0 -5px;
  width:100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns for the cards */
@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0 2%;
  }
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0 2%;
  }
}
@media screen and (min-width: 1200px) {
  .column {
    width: 31%;
    padding: 0 1%;
  }
  .column2 {
    width: 45%;
    display: block;
    margin-bottom: 20px;
    padding: 0 2%;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e9eef7;
  text-align: left;
  color:#3f3f3f;
  padding-bottom:10px;
  transition: all .2s ease-out;
  border-radius: 5px;
}

.card img{
  border-radius: 5px 5px 0 0;
}

.card p{
  padding-left:25px;
  padding-right:25px;
  font-size: 17px;
  font-family: 'Comfortaa';
}

.card h3{
  padding-left:25px;

  font-size: 30px;
  margin:10px 0 0 0;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

/* Footer */

footer{
  text-decoration:none;
  text-align: center;
  color:grey;
}

footer a{
    text-decoration:none;
    color: grey;
}

footer img{
  opacity:80%;
}


/* Doc Content */

.notes{
  background-color: #e9eef7;
  margin-bottom: 20px;
  padding: 1px 30px 1px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.notes h1{
  color: #3f3f3f;
}

.notes p{
  margin-top: 0;
}

.notes li a{
  text-decoration:none;
  color:#1f66cc;
}

.contentImage{
  padding-top:20px;
  padding-bottom:20px;
  width:50%;
  display: block;
  min-width: 250px;
}

.video-container {
    position: relative;
    padding-bottom: 30.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
}


/* contact */

.contact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e9eef7;
  text-align: left;
  color:#3f3f3f;
  padding-bottom:10px;
  transition: all .2s ease-out;
  border-radius: 5px;
    flex: 1;
}

.contactBanner{
  border-radius: 5px 5px 0 0;
  width:100%;
  height:200px;
  object-fit: cover;

}

.contact p{
  padding-left:25px;
  padding-right:25px;
  padding-top: 0;
  margin-top: 0;
  font-size: 17px;
  font-family: 'Comfortaa';
}

.contact h3{
  padding-left:25px;
  padding-bottom: 0;
  font-size: 30px;
  margin:10px 0 0 0;
}

.contact:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

.contactLogo{
  padding-top:10px;
  height:20px;
}

/* Image expand */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
